.formcontato__img{
    height: 10rem;
    width: 10rem;
}

.formcontato__title{
    font-size: 2rem;
}

.formcontato__subtext{
    font-size: 1.25rem;
}

.formcontato__form{
    margin: 40px 0;
    text-align: center;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0  10px;
}

.formcontato__input{ 
    display:inline;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.formcontato__botao{
    background-color: rgb(5, 175, 5);
    height: 3rem;
    width: 6.5rem;
    border-radius: 8px;
    font-size: 1rem;
}

.formcontato__botao:hover{
    background-color: rgb(6, 209, 6);
    font-size: 1rem;
    font-weight: bold;    
}

.contacto{
    font-size: 2rem;
}

.contacto:hover{
    font-size: 2.5rem;
    text-decoration: underline;
}
