.hobbies__title{
    font-size: 2rem;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies__box{
    padding-left: 3rem;
}

.hobbies__img{
    height: 100px;
    width: 100px;
}